{% extends 'base/base_sidebar.html' %}

{% load static %}

{% block content %}

<script type="text/javascript">
	AJAX_PAGES['page'] = "{% url 'pokemons_page' 1 %}";
	AJAX_PAGES['single_options'] = "{% url 'pokemon_single_options' "0000" %}";
	AJAX_PAGES['settings'] = "{% url 'user_settings' %}";
	AJAX_PAGES['bulk_edit'] = "{% url 'bulk_edit' %}";

	var AJAX_PAGE_PARAMS = {};
	{% if region %}
	AJAX_PAGE_PARAMS['region'] = '{{ region }}';
	{% endif %}
	{% if type %}
	AJAX_PAGE_PARAMS['type'] = '{{ type }}';
	{% endif %}
</script>

<div class="content-header">
	<div class="container-fluid">
		<h1>{{ page_title }}</h1>
		<h6 class="total-pokemons-status"></h6>
	</div>
	{% if user.is_authenticated %}
	<div class="container-fluid filters">
		<div></div>
	</div>
	{% endif %}
</div>

{% if user.is_authenticated %}
<div class="content-header search-container">
	<div class="container-fluid">
		<input type="text" id="search_text" placeholder="Search using Pokemon name of number" class="form-control" />
	</div>
</div>
{% endif %}

<div class="container-fluid main-pokemons-list">

	<div class="pokemons-grid"></div>

	{% if not user.is_authenticated and paginator.has_other_pages %}
		<div class="page-load-status">
			<p class="infinite-scroll-request"></p>
			<p class="infinite-scroll-last">End of content</p>
			<p class="infinite-scroll-error">No more pages to load</p>
		</div>
	{% endif %}

</div>
{% endblock %}