{% extends 'base/base_sidebar.html' %}

{% block content %}

<script type="text/javascript">
	{% if region %}
		var AJAX_FIRST_PAGE = "{% url page_url region 1 %}";
	{% else %}
		var AJAX_FIRST_PAGE = "{% url page_url 1 %}";
	{% endif %}
	var AJAX_SINGLE_OPTION = "{% url 'pokemon_single_options' "0000" %}";
	var AJAX_SETTINGS = "{% url 'user_settings' %}";
</script>



<div class="content-header">
	<div class="container-fluid">
		<h1>{{ page_title }}</h1>
		<h6 class="total-pokemons-status"></h6>
	</div>
	{% if user.is_authenticated %}
	<div class="container-fluid filters">
		<div></div>
	</div>
	{% endif %}
</div>

<div class="container-fluid main-pokemons-list">

	<div class="pokemons-grid">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block; shape-rendering: auto;" width="60px" height="60px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
			<circle cx="59.6265" cy="50" fill="#e83a38" r="20">
				<animate attributeName="cx" repeatCount="indefinite" dur="1s" keyTimes="0;0.5;1" values="30;70;30" begin="-0.5s"></animate>
			</circle>
			<circle cx="40.3735" cy="50" fill="#4c4b49" r="20">
				<animate attributeName="cx" repeatCount="indefinite" dur="1s" keyTimes="0;0.5;1" values="30;70;30" begin="0s"></animate>
			</circle>
			<circle cx="59.6265" cy="50" fill="#e83a38" r="20">
				<animate attributeName="cx" repeatCount="indefinite" dur="1s" keyTimes="0;0.5;1" values="30;70;30" begin="-0.5s"></animate>
			<animate attributeName="fill-opacity" values="0;0;1;1" calcMode="discrete" keyTimes="0;0.499;0.5;1" dur="1s" repeatCount="indefinite"></animate>
			</circle>
		</svg>
	</div>

	{% if not user.is_authenticated and paginator.has_other_pages %}
		<div class="page-load-status">
			<p class="infinite-scroll-request">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block; shape-rendering: auto;" width="60px" height="60px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
					<circle cx="59.6265" cy="50" fill="#e83a38" r="20">
						<animate attributeName="cx" repeatCount="indefinite" dur="1s" keyTimes="0;0.5;1" values="30;70;30" begin="-0.5s"></animate>
					</circle>
					<circle cx="40.3735" cy="50" fill="#4c4b49" r="20">
						<animate attributeName="cx" repeatCount="indefinite" dur="1s" keyTimes="0;0.5;1" values="30;70;30" begin="0s"></animate>
					</circle>
					<circle cx="59.6265" cy="50" fill="#e83a38" r="20">
						<animate attributeName="cx" repeatCount="indefinite" dur="1s" keyTimes="0;0.5;1" values="30;70;30" begin="-0.5s"></animate>
					<animate attributeName="fill-opacity" values="0;0;1;1" calcMode="discrete" keyTimes="0;0.499;0.5;1" dur="1s" repeatCount="indefinite"></animate>
					</circle>
				</svg>
			</p>
			<p class="infinite-scroll-last">End of content</p>
			<p class="infinite-scroll-error">No more pages to load</p>
		</div>
	{% endif %}

</div>
{% endblock %}