{% for pokemon in pokemons %}
	<div class="card pokemon container-pokemon-{{ pokemon.number }}">
		<a href="{% url 'pokemon_single' pokemon.number %}" class="card-img-top pokemon-sprite pokemon-{{ pokemon.number }}"></a>
		<div class="card-body">
			<p class="pokemon_number">{{ pokemon.visible_number }}</p>
			<h5>{{ pokemon.name }}</h5>
			{% if is_logged %}
				<a href="#" onclick="return modal_show_pokemon_options('{{ pokemon.number }}');" class="btn btn-primary"><i class="fas fa-cogs"></i></a>
				<a href="{% url 'pokemon_single' pokemon.number %}" class="btn btn-primary"><i class="fas fa-angle-double-right"></i></a>
			{% else %}
				<a href="{% url 'pokemon_single' pokemon.number %}" class="btn btn-primary"><i class="fas fa-angle-double-right"></i></a>
			{% endif %}

			{% if is_logged %}
				<div class="pokemon_options">
					<i class="option-is_shiny fas fa-star"></i>
					<i class="option-is_pokeball fas fa-dot-circle"></i>
					<i class="option-is_language fas fa-language"></i>
					<i class="option-is_iv fas fa-dumbbell"></i>
					<i class="option-is_original_trainer fas fa-user"></i>
					<i class="option-is_gender fas fa-venus-mars"></i>
				</div>
			{% endif %}
		</div>
	</div>
{% endfor %}	