{% extends 'base/base_sidebar.html' %}

{% block content %}

{% if user.is_authenticated %}
<script type="text/javascript">var ajax_csrf_token = "{{ csrf_token }}";</script>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Pokemon name</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group form-check">
						<div class="">
							<input class="form-check-input" type="checkbox" id="gridCheck1">
							<label class="form-check-label" for="gridCheck1">Owned ?</label>
						</div>
					</div>
					<div class="form-group form-check">
						<div class="">
							<input class="form-check-input" type="checkbox" id="gridCheck1">
							<label class="form-check-label" for="gridCheck1">Owned ?</label>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<h1 class="mt-4">Dashboard</h1>
	<div class="card mb-4">
		<div class="card-header"><i class="fas fa-table mr-1"></i>{{ pokemons.count }} Pokemons ({{ pokemons.paginator.num_pages }} page(s))</div>
		<div class="card-body">

		{% if mode == 'grid' %}
			<div class="pokemons-grid">
				{% for pokemon in pokemons %}
					<div class="pokemon"><a href="{% url 'pokemon_detail' pokemon.number %}" class="pokemon-sprite pokemon-{{ pokemon.number }}"></a></div>
				{% endfor %}
			</div>
		{% else %}
			<div class="table-responsive">
				<table class="table table-bordered pokemons-list" id="pokemons-list" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th width="30">#</th>
							<th>&nbsp;</th>
							<th>Name</th>
							{% if user.is_authenticated %}
								<th>Actions</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for pokemon in pokemons %}
							<tr>
								<td>{{ pokemon.number }}</td>
								<td><a href="{% url 'pokemon_detail' pokemon.number %}" class="pokemon-sprite pokemon-{{ pokemon.number }}"></a></td>
								<td><a href="{% url 'pokemon_detail' pokemon.number %}">{{ pokemon.name }}</a></td>
								{% if user.is_authenticated %}
									<td class="actions">
										{% if pokemon.is_owned is not True %}
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-check"></i> Mark as Owned</button>
										{% endif %}

										{% if pokemon.is_owned is True %}
											<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Options</button>
										{% endif %}
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}