<form>
	<p>Select the state you want to apply to all pokemon matching the current query.</p>
	<p>This state will be applied to <strong class="total-count"></strong> pokemons.</p>
	<div class="form-group">
		<label for="pokemon-option">Option</label>
		<select class="form-control" id="pokemon-option">
			<option>Choose an option</option>
		</select>
	</div>
	<div class="form-group">
		<label for="pokemon-action">Action</label>
		<select class="form-control" id="pokemon-action">
			<option value="">Choose an action</option>
			<option value="set">Mark all</option>
			<option value="unset">Unmark all</option>
		</select>
	</div>
</form>