<form class="pokemon-options">
	<input type="hidden" name="pokemon_number" value="{{ pokemon.number }}" />
	<div class="form-group form-check">
		<div class="">
			<input class="form-check-input" type="checkbox" id="is_owned" {% if options.is_owned %}checked="checked" {% endif %}/>
			<label class="form-check-label" for="is_owned" data-toggle="tooltip" data-placement="top" title="Do you have this pokemon?">Owned <i class="fas fa-check"></i></label>
		</div>
	</div>
	<div class="form-group form-check">
		<div class="">
			<input class="form-check-input" type="checkbox" id="is_shiny" {% if options.is_shiny %}checked="checked" {% endif %}/>
			<label class="form-check-label" for="is_shiny" data-toggle="tooltip" data-placement="top" title="Do you have this pokemon as a shiny?">Shiny <i class="fas fa-star"></i></label>
		</div>
	</div>
	<div class="form-group form-check">
		<div class="">
			<input class="form-check-input" type="checkbox" id="is_pokeball" {% if options.is_pokeball %}checked="checked" {% endif %}/>
			<label class="form-check-label" for="is_pokeball" data-toggle="tooltip" data-placement="top" title="Do you have this pokemon in the correct Pokeball?">Pokeball <i class="fas fa-dot-circle"></i></label>
		</div>
	</div>
	<div class="form-group form-check">
		<div class="">
			<input class="form-check-input" type="checkbox" id="is_language" {% if options.is_language %}checked="checked" {% endif %}/>
			<label class="form-check-label" for="is_language" data-toggle="tooltip" data-placement="top" title="Does this Pokemon is from the correct language?">Language <i class="fas fa-language"></i></label>
		</div>
	</div>
	<div class="form-group form-check">
		<div class="">
			<input class="form-check-input" type="checkbox" id="is_iv" {% if options.is_iv %}checked="checked" {% endif %}/>
			<label class="form-check-label" for="is_iv" data-toggle="tooltip" data-placement="top" title="Does this Pokemon have the correct IVs?">IV <i class="fas fa-dumbbell"></i></label>
		</div>
	</div>
	<div class="form-group form-check">
		<div class="">
			<input class="form-check-input" type="checkbox" id="is_original_trainer" {% if options.is_original_trainer %}checked="checked" {% endif %}/>
			<label class="form-check-label" for="is_original_trainer" data-toggle="tooltip" data-placement="top" title="Are you are the Original Trainer?">Original Trainer <i class="fas fa-user"></i></label>
		</div>
	</div>

	<div class="form-group form-check">
		<div class="">
			<input class="form-check-input" type="checkbox" id="is_gender" {% if options.is_gender %}checked="checked" {% endif %}/>
			<label class="form-check-label" for="is_gender" data-toggle="tooltip" data-placement="top" title="Does this Pokemon has correct gender?">Gender <i class="fas fa-venus-mars"></i></label>
		</div>
	</div>
</form>