*,*::before,*::after {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

	background-color: #f4f4f4;
}

a, a:hover {
	color: #dc0a2d;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ol,ul,dl {
    margin-top: 0;
    margin-bottom: 1rem
}

a {
    text-decoration: none;
    background-color: transparent
}

a:hover {
    text-decoration: underline
}

svg {
    overflow: hidden;
    vertical-align: middle
}

button {
    border-radius: 0
}

input,button,select,optgroup,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button
}

button:not(:disabled),[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled) {
    cursor: pointer
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1,.h1 {
    font-size: 2.5rem
}

h5,.h5 {
    font-size: 1.25rem
}

small,.small {
    font-size: 80%;
    font-weight: 400
}

.container-fluid,.container-xl,.container-lg,.container-md,.container-sm {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto
}

.order-1 {
    order: 1
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none
}

.btn-sm,.btn-group-sm>.btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.collapse:not(.show) {
    display: none
}

.dropup,.dropright,.dropdown,.dropleft {
    position: relative
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem
}

.dropdown-menu-right {
    right: 0;
    left: auto
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start
}

.navbar-expand .navbar-nav {
    flex-direction: row
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem
}

.navbar-dark .navbar-brand {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5)
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem
}

.card-img,.card-img-top,.card-img-bottom {
    flex-shrink: 0;
    width: 100%
}

.card-img,.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px)
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem
}

.bg-light {
    background-color: #f8f9fa!important
}

.bg-dark {
    background-color: #343a40!important
}

.d-flex {
    display: flex!important
}

.justify-content-between {
    justify-content: space-between!important
}

.align-items-center {
    align-items: center!important
}

.fixed-top,.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,.sb-nav-fixed .sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.mt-4,.my-4 {
    margin-top: 1.5rem!important
}

.pt-4,.py-4 {
    padding-top: 1.5rem!important
}

.pb-4,.py-4 {
    padding-bottom: 1.5rem!important
}

.mt-auto,.my-auto {
    margin-top: auto!important
}

.ml-auto,.mx-auto {
    margin-left: auto!important
}

.text-muted {
    color: #6c757d!important
}

html,body {
    height: 100%
}

.container,.container-fluid,.container-sm,.container-md,.container-lg,.container-xl {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

#layoutSidenav {
    display: flex
}

#layoutSidenav #layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform .15s ease-in-out;
    z-index: 1038;
    transform: translateX(-225px)
}

#layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px
}

.sb-nav-fixed .sb-topnav {
    z-index: 1039
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 225px;
    height: 100vh;
    z-index: 1038
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
    padding-top: 56px
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
    overflow-y: auto
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 56px
}

.nav .nav-link .sb-nav-link-icon,.sb-sidenav-menu .nav-link .sb-nav-link-icon {
    margin-right: .5rem
}

.sb-topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1039
}

.sb-topnav .navbar-brand {
    width: 225px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0
}

.sb-topnav.navbar-dark #sidebarToggle {
    color: rgba(255,255,255,.5)
}

.sb-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap
}

.sb-sidenav .sb-sidenav-menu {
    flex-grow: 1
}

.sb-sidenav .sb-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    padding: 1.75rem 1rem .75rem;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    position: relative
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
    font-size: .9rem
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform .15s ease
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
    transform: rotate(-90deg)
}

.sb-sidenav-dark {
    background-color: #212529;
    color: rgba(255,255,255,.5)
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: rgba(255,255,255,.25)
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: rgba(255,255,255,.5)
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    color: rgba(255,255,255,.25)
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
    color: rgba(255,255,255,.25)
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

/* Theme */

nav.navbar {
	background-color: #dc0a2d !important;
}

nav.sb-sidenav.sb-sidenav-dark {
	background-color: #376092 !important;
}

nav.sb-sidenav.sb-sidenav-dark .sb-sidenav-footer {
	background-color: #dc0a2d !important;
}

nav.sb-sidenav.sb-sidenav-dark {
	color: rgba(255, 255, 255, 0.75);
}

nav.sb-sidenav.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
	color: rgba(255, 255, 255, 0.50);
}

nav.sb-sidenav.sb-sidenav-dark .sb-sidenav-menu .nav-link {
	color: rgba(255, 255, 255, 0.75);
}

.sb-topnav.navbar-dark #sidebarToggle {
	color: rgba(255, 255, 255, 0.75);
}

.navbar-dark #sidebarToggle:hover {
	color: #ffffff;
	transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.75);
	transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #dc0a2d;
    border-color: #dc0a2d;
}

.btn-primary:hover {
	background-color: #376092 !important;
}

/* Homepage Pokemons Grid */

.pokemons-grid {
	display: flex;
	flex-wrap: wrap;
}

.pokemons-grid > .card.pokemon {
	width: 180px;
	margin: 10px;
}

.pokemons-grid > .card.pokemon > a.pokemon-sprite {
	display: flex;
	justify-content: center;
}

.pokemons-grid > .card.pokemon > .card-body {
	background-color: #fafafa;
	text-align: center;
	position: relative;
    padding: .75rem 1.25rem;
}

.pokemons-grid > .card.pokemon > .card-body .pokemon_number {
	position: absolute;
    top: -28px;
    left: 10px;
    color: #ccc;
}

.pokemons-grid > .card.pokemon > .card-body h5 {
	font-size: 1rem;
}

@media screen and (max-width: 990px) {
	.pokemons-grid {
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 450px) {
	.pokemons-grid > .card.pokemon {
    	width: calc(50% - 20px);
    }
}

@media screen and (max-width: 320px) {
	.pokemons-grid > .card.pokemon {
    	width: calc(80% - 20px);
    }
}

/* User Profile */

.user-profile .social-media:not(:first-child) {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

/* Pokemons sprites */

a.pokemon-sprite:before {
	background-image: url(../sprites/pokemons.png);
	background-repeat: no-repeat;
	content: " ";
	display: block;

    /*transform: scale(2);
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;*/
}

body.logged-in a.pokemon-sprite:not(.is-owned):before {
	opacity: 0.5;
}

/* Error 404 */

.error h3 {
	font-size: 10em;
	color: #cccccc;
}

.error div.card-body {
	text-align: center;
}