body {
	background-color: #f4f4f4;
}

nav.navbar {
	background-color: #dc0a2d !important;
}

nav.sb-sidenav.sb-sidenav-dark {
	background-color: #376092 !important;
}

nav.sb-sidenav.sb-sidenav-dark .sb-sidenav-footer {
	background-color: #dc0a2d !important;
}

nav.sb-sidenav.sb-sidenav-dark {
	color: rgba(255, 255, 255, 0.75);
}

nav.sb-sidenav.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
	color: rgba(255, 255, 255, 0.50);
}

nav.sb-sidenav.sb-sidenav-dark .sb-sidenav-menu .nav-link {
	color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    color: #fff;
    background-color: #dc0a2d;
    border-color: #dc0a2d;
}

.btn-primary:hover {
	background-color: #376092 !important;
}

/* Homepage Pokemons Grid */

.pokemons-grid {
	display: flex;
	flex-wrap: wrap;
}

.pokemons-grid > .card.pokemon {
	width: 180px;
	margin: 10px;
}

.pokemons-grid > .card.pokemon > a.pokemon-sprite {
	display: flex;
	justify-content: center;
}

.pokemons-grid > .card.pokemon > .card-body {
	background-color: #fafafa;
	text-align: center;
	position: relative;
    padding: .75rem 1.25rem;
}

.pokemons-grid > .card.pokemon > .card-body .pokemon_number {
	position: absolute;
    top: -28px;
    left: 10px;
    color: #ccc;
}

.pokemons-grid > .card.pokemon > .card-body h5 {
	font-size: 1rem;
}

@media screen and (max-width: 990px) {
	.pokemons-grid {
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 450px) {
	.pokemons-grid > .card.pokemon {
    	width: calc(50% - 20px);
    }
}

@media screen and (max-width: 320px) {
	.pokemons-grid > .card.pokemon {
    	width: calc(80% - 20px);
    }
}

/* User Profile */

.user-profile .social-media:not(:first-child) {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

/* Pokemons sprites */

a.pokemon-sprite:before {
	background-image: url(../sprites/pokemons.png);
	background-repeat: no-repeat;
	content: " ";
	display: block;

    /*transform: scale(2);
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;*/
}

body.logged-in a.pokemon-sprite:not(.is-owned):before {
	opacity: 0.2;
}