{% extends 'base/template.html' %}

{% block sidebar_wrapper %}
	{% with sidebar=True %}
		{{ block.super }}
	{% endwith%}
{% endblock %}

{% block base %}
<div id="layoutSidenav" class="{% if 'is_owned' in request.session.hide %} filter-hide-is_owned{% endif %}{% if 'is_shiny' in request.session.hide %} filter-hide-is_shiny{% endif %}{% if 'is_pokeball' in request.session.hide %} filter-hide-is_pokeball{% endif %}{% if 'is_language' in request.session.hide %} filter-hide-is_language{% endif %}{% if 'is_original_trainer' in request.session.hide %} filter-hide-is_original_trainer{% endif %}{% if 'is_iv' in request.session.hide %} filter-hide-is_iv{% endif %}">
	<div id="layoutSidenav_nav">
		<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
			<div class="sb-sidenav-menu">
				<div class="nav">
					<!-- Interface //-->
					<div class="sb-sidenav-menu-heading">Interface</div>

					<!-- Interface/Layout //-->
					<a class="nav-link" href="{% url 'pokemon_archive' %}">Pokemons</a>
					<a class="nav-link" href="{% url 'pokemon_forms_archive' %}">Forms</a>

					<!-- Filters //-->
					<div class="sb-sidenav-menu-heading">Filters</div>

					<!-- Filters/Generations -->
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGenerations" aria-expanded="false" aria-controls="collapseGenerations">
						<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
						Pokedex
						<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
					</a>
					<div class="collapse" id="collapseGenerations" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
						<nav class="sb-sidenav-menu-nested nav">
							<a class="nav-link" href="{% url 'pokemon_pokedex_archive' 'alola' %}">Alola</a>
							<a class="nav-link" href="{% url 'pokemon_pokedex_archive' 'galar' %}">Galar</a>
						</nav>
					</div>

					<a class="nav-link" href="{% url 'contact' %}">Contact</a>

				</div>
			</div>
			{% if user.is_authenticated %}
				<div class="sb-sidenav-footer">
					<div class="small">Logged in as:</div>
					{{ user.username }}
				</div>
			{% endif %}
		</nav>
	</div>
	<div id="layoutSidenav_content">
		<main>
			{% block content %}{% endblock %}
		</main>
		{% include "base/footer.html" %}
	</div>
</div>
{% endblock %}